crewai[tools]
langchain==0.3.24
langchain-cohere==0.3.5
langchain-community==0.3.22
langchain-core==0.3.55
langchain-experimental==0.3.4
langchain-groq==0.3.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langsmith==0.3.33
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
streamlit==1.44.1
